<div class="container">
    <h3 class="text-center">My Cart</h3>
    <table class="table table-light table-striped table-hover">
        <!-- <caption><h2>My Cart</h2></caption> -->
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Category</th>
                <th>Rate</th>
                <th colspan="3">No of Items</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td><button class="btn btn-secondary">-</button></td>
                <td>{{product.price}}</td>
                <td><button class="btn btn-secondary">+</button></td>
            </tr>
        </tbody>
    </table>
</div>
