<div class="container container-bg">
    <h3 class="text-center">Search Products</h3>
    <form>
        <div class="row">
          <div class="form-group col">
            <label for="searchProductName">Product Name</label>
            <input type="text" class="form-control" placeholder="Product Name" name="searchProductName"
              [(ngModel)]="searchProductName">
          </div>
          <div class="form-group col">
            <label for="searchCategory">Category</label>
            <input type="text" class="form-control" placeholder="Category" name="searchCategory"
            [(ngModel)]="searchCategory">
          </div>
        </div>
        <div class="row">
            <div class="form-group col">
              <label for="searchDescription">Description</label>
              <input type="text" class="form-control" placeholder="Description" name="searchDescription"
              [(ngModel)]="searchDescription">
            </div>
            <div class="form-group col">
              <label>Price Range</label>
              <div class="row">
                <div class="form-group col">
                  <label>Minimum</label>
                  <span class="badge bg-info">{{searchPriceRangeMin}}</span>
                  <input type="range" class="price-range" name="searchPriceRangeMin" min="0" max="10000" step="100" value="0" [(ngModel)]="searchPriceRangeMin" (change)="handleMinPriceChange()">
                </div>
                <div class="form-group col">
                  <label>Maximum</label>
                  <span class="badge bg-info">{{searchPriceRangeMax}}</span>
                  <input type="range" class="price-range" name="searchPriceRangeMax" min="0" max="10000" step="100" value="100000" value="0" [(ngModel)]="searchPriceRangeMax" (change)="handleMaxPriceChange()">
                </div>
            </div>
          </div>
        </div>
        <div class="div-padding" align="right">
          <button type="submit" class="btn btn-info" (click)="handleDetailedSearch()">Search</button>
        </div>
      </form>
      <app-products></app-products>
</div>
